# 컨텐츠 기반 추천시스템 - TMDB 5000 Movie Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/haram4th/ablearn/main/tmdb_5000_movies.csv")

In [3]:
data.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
data['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [6]:
print(type(data['genres'][0]))

<class 'str'>

In [7]:
import json

In [8]:
test = json.loads(data['genres'][0])
test

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [9]:
for i in test:
    print(list(i.values())[1])

Action
Adventure
Fantasy
Science Fiction

In [10]:
genre = []
for i in test:
    genre.append(i['name'])

In [11]:
genre = " ".join(genre)
genre

'Action Adventure Fantasy Science Fiction'

In [12]:
data['genres'] = data['genres'].apply(json.loads)

In [13]:
data['genres'] = data['genres'].apply(lambda x: [i['name'] for i in x])

In [14]:
data['genres'] = data['genres'].apply(lambda x: " ".join(x))

In [15]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [16]:
for col in ['keywords', 'production_companies', 'production_countries', 'spoken_languages']:
    data[col] = data[col].apply(json.loads)
    data[col] = data[col].apply(lambda x: [i['name'] for i in x])
    data[col] = data[col].apply(lambda x: " ".join(x))

In [17]:
data.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,Ingenious Film Partners Twentieth Century Fox ...,United States of America United Kingdom,2009-12-10,2787965087,162.0,English Español,Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,Walt Disney Pictures Jerry Bruckheimer Films S...,United States of America,2007-05-19,961000000,169.0,English,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [18]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [19]:
data = data[['id', 'title', 'genres', 'vote_average', 'popularity', 'keywords', 'overview']]
data.head(2)

,id,title,genres,vote_average,popularity,keywords,overview
0,19995,Avatar,Action Adventure Fantasy Science Fiction,7.2,150.437577,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,6.9,139.082615,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha..."

* genres의 단어를 벡터화해서 코사인 유사도를 통해 비슷한 장르를 가진 행을 찾고
* 유사도가 높은 행을 기준으로 내림차순 정렬

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv = CountVectorizer(ngram_range=(1,2))
genre_mat = cv.fit_transform(data['genres'])
print(genre_mat)

  (0, 0)	1
  (0, 16)	1
  (0, 124)	1
  (0, 232)	1
  (0, 138)	1
  (0, 1)	1
  (0, 24)	1
  (0, 135)	1
  (0, 233)	1
  (1, 0)	1
  (1, 16)	1
  (1, 124)	1
  (1, 24)	1
  (1, 125)	1
  (2, 0)	1
  (2, 16)	1
  (2, 1)	1
  (2, 64)	1
  (2, 20)	1
  (3, 0)	1
  (3, 64)	1
  (3, 90)	1
  (3, 234)	1
  (3, 4)	1
  (3, 68)	1
  :	:
  (4796, 90)	1
  (4796, 234)	1
  (4796, 106)	1
  (4796, 144)	1
  (4797, 234)	1
  (4797, 153)	1
  (4797, 157)	1
  (4798, 0)	1
  (4798, 64)	1
  (4798, 234)	1
  (4798, 4)	1
  (4798, 78)	1
  (4799, 44)	1
  (4799, 214)	1
  (4799, 58)	1
  (4800, 90)	1
  (4800, 44)	1
  (4800, 214)	1
  (4800, 104)	1
  (4800, 50)	1
  (4800, 250)	1
  (4800, 182)	1
  (4800, 251)	1
  (4800, 229)	1
  (4802, 80)	1

In [22]:
genre_mat.shape

(4803, 276)

코사인 유사도를 사용해 gener_mat의 유사도를 산출 후 genre_sim에 저장
* 비슷한 장르 영화를 찾기 위해 계산
* 코사인 유사도는 주로 문자, 문서의 유사도 계산에 사용됨

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:2])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [25]:
data['genres'][:4]

0    Action Adventure Fantasy Science Fiction
1                    Adventure Fantasy Action
2                      Action Adventure Crime
3                 Action Crime Drama Thriller
Name: genres, dtype: object

In [26]:
a = np.array([1.5, 0.2, 4.2, 2.5])
s = a.argsort()
print(s[::-1])

[2 3 0 1]

In [27]:
[5, 9, 7, 12][::-1]

[12, 7, 9, 5]

In [28]:
sorted_genre_sim = genre_sim.argsort()[:, ::-1]

In [29]:
sorted_genre_sim[:1]

array([[   0, 3494,  813, ..., 3038, 3037, 2401]], dtype=int64)

In [30]:
data.loc[0]

id                                                          19995
title                                                      Avatar
genres                   Action Adventure Fantasy Science Fiction
vote_average                                                  7.2
popularity                                             150.437577
keywords        culture clash future space war space colony so...
overview        In the 22nd century, a paraplegic Marine is di...
Name: 0, dtype: object

In [31]:
data.loc[3494]

id                                                          27549
title                   Beastmaster 2: Through the Portal of Time
genres                   Action Adventure Fantasy Science Fiction
vote_average                                                  4.6
popularity                                               1.478505
keywords        based on novel time travel sequel psychotronic...
overview        Mark Singer returns as Dar, the warrior who ca...
Name: 3494, dtype: object

In [32]:
data.loc[813]

id                                                           1924
title                                                    Superman
genres                   Action Adventure Fantasy Science Fiction
vote_average                                                  6.9
popularity                                              48.507081
keywords        saving the world journalist dc comics crime fi...
overview        Mild-mannered Clark Kent works as a reporter a...
Name: 813, dtype: object

In [33]:
print(data[data['title'] == 'Superman'].index.values)

[813]

In [34]:
data.iloc[sorted_genre_sim[813, : (10)].reshape(-1)]

,id,title,genres,vote_average,popularity,keywords,overview
0,19995,Avatar,Action Adventure Fantasy Science Fiction,7.2,150.437577,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di..."
3494,27549,Beastmaster 2: Through the Portal of Time,Action Adventure Fantasy Science Fiction,4.6,1.478505,based on novel time travel sequel psychotronic...,"Mark Singer returns as Dar, the warrior who ca..."
813,1924,Superman,Action Adventure Fantasy Science Fiction,6.9,48.507081,saving the world journalist dc comics crime fi...,Mild-mannered Clark Kent works as a reporter a...
870,8536,Superman II,Action Adventure Fantasy Science Fiction,6.5,30.515175,saving the world dc comics sequel superhero ba...,Three escaped criminals from the planet Krypto...
46,127585,X-Men: Days of Future Past,Action Adventure Fantasy Science Fiction,7.5,118.078691,1970s mutant time travel marvel comic based on...,The ultimate X-Men ensemble fights a war for t...
14,49521,Man of Steel,Action Adventure Fantasy Science Fiction,6.5,99.398009,saving the world dc comics superhero based on ...,A young boy learns that he has extraordinary p...
1296,9531,Superman III,Comedy Action Adventure Fantasy Science Fiction,5.3,22.164202,saving the world dc comics super computer iden...,"Aiming to defeat the Man of Steel, wealthy exe..."
1652,14164,Dragonball Evolution,Action Adventure Fantasy Science Fiction Thriller,2.9,21.677732,karate superhero revenge dragon duringcreditss...,The young warrior Son Goku sets out on a quest...
419,8247,Jumper,Adventure Fantasy Science Fiction,5.9,21.218000,adolescence based on novel loss of child fight...,"David Rice is a man who knows no boundaries, a..."
420,11253,Hellboy II: The Golden Army,Adventure Fantasy Science Fiction,6.5,58.579760,auction northern ireland resignation superhero...,In this continuation to the adventure of the d...

In [35]:
def find_sim_movie(df, sorted_genre_sim, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    similar_indexes = sorted_genre_sim[title_index, : (top_n)]
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    return df.iloc[similar_indexes]

In [36]:
find_sim_movie(data, sorted_genre_sim, "Pirates of the Caribbean: At World's End", 10)

[[ 262    1  129  199  206  208   98 2343 2390  379]]

,id,title,genres,vote_average,popularity,keywords,overview
262,120,The Lord of the Rings: The Fellowship of the Ring,Adventure Fantasy Action,8.0,138.049577,elves dwarves orcs middle-earth (tolkien) hobb...,"Young hobbit Frodo Baggins, after inheriting a..."
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,6.9,139.082615,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha..."
129,10195,Thor,Adventure Fantasy Action,6.6,86.493424,new mexico banishment shield marvel comic hamm...,"Against his father Odin's will, The Mighty Tho..."
199,22,Pirates of the Caribbean: The Curse of the Bla...,Adventure Fantasy Action,7.5,271.972889,exotic island blacksmith east india trading co...,"Jack Sparrow, a freewheeling 17th-century pira..."
206,18823,Clash of the Titans,Adventure Fantasy Action,5.6,47.686442,hades mythology greek mythology zeus medusa my...,"Born of a god but raised as a man, Perseus is ..."
208,1911,The 13th Warrior,Adventure Fantasy Action,6.4,27.220157,witch cave arabian scandinavia bagdad viking i...,"In AD 922, Arab courtier, Ahmad Ibn Fadlan acc..."
98,49051,The Hobbit: An Unexpected Journey,Adventure Fantasy Action,7.0,108.849621,riddle elves dwarves orcs middle-earth (tolkie...,"Bilbo Baggins, a hobbit enjoying his quiet lif..."
2343,9610,Conan the Destroyer,Adventure Fantasy Action,5.8,18.379124,swordplay sword magic warrior woman lone wolf ...,Based on a character created by Robert E. Howa...
2390,9626,Red Sonja,Adventure Fantasy Action,5.0,12.752463,monster swordplay queen talisman marvel comic ...,The tyrant Gedren seeks the total power in a w...
379,9387,Conan the Barbarian,Adventure Fantasy Action,6.6,31.802807,gladiator repayment despot barbarian sword and...,A film adaptation of the classic sword and sor...

In [37]:
import joblib

In [39]:
joblib.dump(data, "./movie_data")

['./movie_data']

In [40]:
joblib.dump(sorted_genre_sim, "./movie_similarity")

['./movie_similarity']