In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
import pandas as pd
import requests

In [33]:
url = "https://api.odcloud.kr/api/15127131/v1/uddi:a9873b46-9551-407a-aff5-a3a77befb3d4"
serviceKey = os.getenv('serviceKey')
payload = dict(serviceKey = serviceKey, page = 1, perPage = 100, returnType = "JSON")
r = requests.get(url, params = payload)
print(r.url)
print(r.status_code)

if(r.status_code == 200):
    data = r.json()
    #print(type(data))
    count += 1
    
    
    # data['data']
    result = pd.json_normalize(data['data'])
data    
result

https://api.odcloud.kr/api/15127131/v1/uddi:a9873b46-9551-407a-aff5-a3a77befb3d4?serviceKey=5o4Mnwi%2F7yNflVHo7r2AdBMYfFd%2BoOw16UxQvEoR2Lo5a2kmVuhG9m3LzxutPZ3ygVscdUhG2aU3oixr%2B58BFw%3D%3D&page=1&perPage=100&returnType=JSON
200

,경도,도로명 주소,연번,위도,지번주소
0,127.0463745363,"서울특별시 강남구 테헤란로57길 38 (역삼동, 동우빌라)",1,37.5067486779,서울특별시 강남구 역삼1동 694-6
1,127.0443692184,서울특별시 강남구 테헤란로 53길 51 (역삼동),2,37.5068409001,서울특별시 강남구 역삼1동 698-14
2,127.0453479614,서울특별시 강남구 테헤란로 53길 37 (역삼동),3,37.5062405492,서울특별시 강남구 역삼1동 697-4
3,127.0450505713,서울특별시 강남구 테헤란로55길50 (역삼동),4,37.5070938247,서울특별시 강남구 역삼1동 695-20
4,127.0446350458,서울특별시 강남구봉은사로50길41 (역삼동),5,37.5078620891,서울특별시 강남구 역삼1동683-29
...,...,...,...,...,...
95,127.0376706543,서울특별시 강남구 봉은사로34길 38,96,37.5059515916,서울특별시 강남구 역삼동 660-32
96,127.0387960245,서울특별시 강남구 언주로103길 15,97,37.5064646201,서울특별시 강남구 역삼동 661-21
97,127.0389430626,서울특별시 강남구 테헤란로 39길 77,98,37.5071349195,서울특별시 강남구 역삼동 656-20
98,127.0372068826,서울특별시 강남구 봉은사로34길 21,99,37.5069551880,서울특별시 강남구 역삼동 655-13
99,127.0347144182,서울특별시 강남구 논현로 566,100,37.5070324421,서울특별시 강남구 역삼동 650-20

In [31]:
# 강사님
cloth_bins = []
page = 1

while True :
    url = "https://api.odcloud.kr/api/15127131/v1/uddi:a9873b46-9551-407a-aff5-a3a77befb3d4"
    payload = dict(serviceKey = serviceKey, page = page, perPage = 100, returnType = "JSON")
    requests.get(url, params = payload)
    print(r.status_code)

    if(r.status_code == 200):
        data = r.json()
        cloth_bins.append(data['data'])
        total_pages = data['totalCount'] // data['perPage'] + 1 
        print(f'{page}/{total_pages}', end = '\r')
        if page < total_pages:
            page += 1
        else:
            break

result = pd.DataFrame()
for bins in cloth_bins:
    temp = pd.json_normalize(bins)
    result = pd.concat([result, temp])
result.to_csv("clothes_result.csv", encoding="euc-kr")
    
result

200
200
200
200
200
200
200

,경도,도로명 주소,연번,위도,지번주소
0,127.0463745363,"서울특별시 강남구 테헤란로57길 38 (역삼동, 동우빌라)",1,37.5067486779,서울특별시 강남구 역삼1동 694-6
1,127.0443692184,서울특별시 강남구 테헤란로 53길 51 (역삼동),2,37.5068409001,서울특별시 강남구 역삼1동 698-14
2,127.0453479614,서울특별시 강남구 테헤란로 53길 37 (역삼동),3,37.5062405492,서울특별시 강남구 역삼1동 697-4
3,127.0450505713,서울특별시 강남구 테헤란로55길50 (역삼동),4,37.5070938247,서울특별시 강남구 역삼1동 695-20
4,127.0446350458,서울특별시 강남구봉은사로50길41 (역삼동),5,37.5078620891,서울특별시 강남구 역삼1동683-29
...,...,...,...,...,...
95,127.0376706543,서울특별시 강남구 봉은사로34길 38,96,37.5059515916,서울특별시 강남구 역삼동 660-32
96,127.0387960245,서울특별시 강남구 언주로103길 15,97,37.5064646201,서울특별시 강남구 역삼동 661-21
97,127.0389430626,서울특별시 강남구 테헤란로 39길 77,98,37.5071349195,서울특별시 강남구 역삼동 656-20
98,127.0372068826,서울특별시 강남구 봉은사로34길 21,99,37.5069551880,서울특별시 강남구 역삼동 655-13
99,127.0347144182,서울특별시 강남구 논현로 566,100,37.5070324421,서울특별시 강남구 역삼동 650-20