# 가제트 만능 팔 - 딕셔너리

## 49.우리 반 학생들의 이름과 나이 저장하기
우리 반 학생들의 이름과 나이가 적힌 명단이 있습니다. 이 명단을 파이썬 자료형 딕셔너리(dictionary)를 활용해 저장하려고 합니다. 우리 반 학생들 명단은 아래와 같을 때 저장하는 코드를 작성하고 다음과 같이 출력하세요.<br>
![img80]()

실행결과
```
{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}
```

{'메이킷': 17, '우진': 9, '시은': 11, '제임스': 10}

## 50. 자기 소개하기
아래와 같은 내용을 저장하는 딕셔너리 자료형을 s로 만들고 s를 활용해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳 : 서울<br>
성별 : 여자<br>
이름 : 시은<br>
나이 : 11<br>
혈액형 : b

---

실행결과
```
내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 살 이고 혈액형은 b 형입니다.
```

내가 살고 있는 곳은 서울 입니다.
나의 성별은 여자 이고 이름은 시은 입니다.
나이는 11 살 이고 혈액형은 b 형입니다.

## 51.딕셔너리에 추가하기
아래와 같은 내용을 저장하는 딕셔너리 자료형 s를 만들고, 나이와 혈액형을 입력받아 딕셔너리 s에 입력받은 자료를 추가해 다음과 같이 출력하는 코드를 작성하세요.

---
사는 곳: 인천 송도
성별: 남자
이름: 우진

---

실행결과
```
# 입력
나이는 몇 살인가요?9
혈액형은 무엇인가요?b

# 출력
나의 성별은 남자 이고 이름은 우진 입니다.
나이는 9 살 이고 혈액형은 b 형입니다.
```

나의 성별은 남자 이고 이름은 우진 입니다.

## 52. 딕셔너리에서 삭제하기
다음 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성해서 입력하세요.

```
{'성별': '남자', '이름': '우진'}
```

In [ ]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}

{'성별': '남자', '이름': '우진'}

## 53.딕셔너리에서 뽑아내기 keys(), values(), items()
아래와 같은 코드를 수행했을 때 같은 출력 결과가 나오도록 빈 칸에 들어가야 할 코드를 완성하세요.

```
['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]
```

In [ ]:
s = {'사는 곳':'인천 송도', '성별':'남자','이름':'우진'}

['사는 곳', '성별', '이름']
['인천 송도', '남자', '우진']
[('사는 곳', '인천 송도'), ('성별', '남자'), ('이름', '우진')]

## 54. 딕셔너리와 if 조건문의 만남
store 딕셔너리에 다음과 같이 물건이름과 가격이 저장되어 있습니다.
```
#코드
store = {'새우칩':1500, '옥수수칩':1800,'콜라':700,'양파칩':1300}
```
아래 실행 결과와 같이 물건의 이름을 입력하면 가격을 알려주는 코드를 작성하세요. 단, 딕셔너리에 없는 물건을 입력하면 실행을 중단합니다.

실행결과
```
물품을 입력하면 가격을 알려드립니다
물품 이름은?새우칩
새우칩의 가격은 1500 입니다
물품 이름은?양파칩
양파칩의 가격은 1300 입니다
물품 이름은?콜라
콜라의 가격은 700 입니다
물품 이름은?사이다
사이다는 등록되어 있지 않습니다
```

## 55. 딕셔너리의 값으로 리스트 사용하기
우리 가게 물품 리스트는 아래와 같습니다.

![image55.png]()

이 자료를 store 딕셔너리에 추가하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

실행결과
```
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게는 4 개의 물건 종류가 있습니다
우리 가게 모든 물건 수량은 10 개 있습니다
우리 가게 모든 물건들의 가격 총합은 12200 입니다
우리 가게 모든 물건들의 평균 가격은 1220.0 원입니다
```

1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

[(1500, 3), (1800, 2), (700, 4), (1300, 1)]
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

새우칩
10
1 번 물품은 새우칩 이고 가격은 1500 이고 수량은 3 개입니다.
2 번 물품은 옥수수칩 이고 가격은 1800 이고 수량은 2 개입니다
3 번 물품은 콜라 이고 가격은 700 이고 수량은 4 개입니다
4 번 물품은 양파칩 이고 가격은 1300 이고 수량은 1 개입니다
우리 가게에는 4 개의 물건 종류가 있습니다.
우리 가게 모든 물건 수량은 10 개의 물건 종류가 있습니다.
우리 가게 모든 물건들의 가격 총합은 12200 입니다.

## 56.딕셔너리의 값으로 딕셔너리 사용하기
우리 반 학생들의 명단과 학생들이 각각 수업을 듣고 있는 과목과 시험 점수가 다음과 같이 표로 정리되어 있습니다.

![image56.png]()

딕셔너리를 사용해 위 자료를 저장하고 아래와 같은 결과가 나오도록 코드를 작성하세요.

```
우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85
```

우진이의 코딩 점수는? 95
시은이의 과학 점수는? 100
메이킷의 영어 점수는? 85

# 여자는 1번 방으로, 남자는 2번 방으로 – 조건문

## 32. 두 수 비교하기
다음과 같이 정수 두 개를 x, y로 입력받아 x가 y보다 크면 'makit'을, 작거나 같으면 'woojin'을 출력하는 코드를 작성하세요.<br>
실행결과
```
첫 번째 정수를 입력하세요:7
두 번째 정수를 입력하세요:10
woojin
```

첫 번째 정수를 입력하세요7
두 번째 정수를 입력하세요10
woojin

## 33. 세 개의 수 비교하기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수만 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 홀수인 입력만 출력
3
17
```

첫 번째 정수를 입력하세요3
두 번째 정수를 입력하세요5
세 번째 정수를 입력하세요4
3
5

## 34. 홀수 찾기
다음과 같이 정수 세 개를 a, b, c로 입력받아 홀수, 짝수를 구분해 출력하는 코드를 작성하세요.<br>
실행결과
```
# 입력
첫 번째 정수를 입력하세요:3
두 번째 정수를 입력하세요:8
세 번째 정수를 입력하세요:17

# 출력
3 홀수
8 짝수
17 홀수
```

첫 번째 정수를 입력하세요3
두 번째 정수를 입력하세요6
세 번째 정수를 입력하세요9
3 홀수
6 짝수
9 홀수

## 35. 양수, 음수, 홀수, 짝수 구분하기
다음과 같이 0 이외의 정수 한 개를 입력받아, 음수 또는 양수, 짝수 또는 홀수로 구분해 출력하는 코드를 작성하세요. and와 or 연산자를 사용할 수 있으면 사용하세요.<br>
실행결과
```
-14
음수이고 짝수
```

6
양수이고 짝수

## 36. 성적 결과 계산하기
다음 실행 결과와 같이 코딩 과목의 시험 점수를 0점 이상~100점 이하의 값으로 입력받아 학점을 출력하는 코드를 작성하세요. 코딩 점수에 따른 학점은 아래와 같습니다.<br>

---
90점 이상 : A학점<br>
80점 이상 ~ 90점 미만 : B학점<br>
70점 이상 ~ 80점 미만 : C학점<br>
60점 이상 ~ 70점 미만 : D학점<br>
60점 미만 : F학점

---

실행결과
```
코딩 점수를 입력하세요:89
B학점
```

50
F학점

## 37. 입력에 따라 친구 이름 출력하기
m, j, w, s 입력에 따라 각각 makit, james, woojin, sieun을 출력하고 m, j, w, s 이외의 문자가 입력되면 howard를 출력하는 코드를 작성하세요.<br>
실행결과
```
s
sieun
```

이름 m, j, w, s 중 하나를 입력해 주세요: s
sieun

## 38.봄, 여름, 가을, 겨울
1~12까지 숫자를 입력하면 해당하는 달의 계절을 다음과 같이 출력하는 코드를 작성하세요. 각 월에 따른 계절은 아래 기준으로 코드를 작성하세요.<br>

---

12월 ~ 2월 : 겨울<br>
3월 ~ 5월 : 봄<br>
6월 ~ 8월 : 여름<br>
9월 ~ 11월 : 가을<br>

---

실행결과
```
몇 월 달인가요? 8
여름
```

1-12 사이의 숫자를 입력해 주세요.12
겨울

## 39. 12월은 31일까지 있어요
다음과 같이 1~12까지 달을 입력받아서, 입력받은 달은 몇 일까지 있는지 출력하는 코드를 작성하세요.  참고로 각 달의 일수는 아래와 같으며, 윤년은 고려하지 않습니다.<br>

---

2월: 28일<br>
4월, 6월, 9월, 11월: 30일<br>
1월, 3월, 5월, 7월, 8월, 10월, 12월: 31일<br>

---

실행결과
```
몇 월인가요? 12
12 월은 31일까지 있습니다

몇 월인가요? 6
6 월은 30일까지 있습니다
```

몇 월 인가요? 3
3월은 31일까지 있습니다.

## 40. 까다로운 놀이기구 I
놀이공원에 있는 어떤 놀이기구를 타려면 특별한 조건이 필요합니다. 이름이 m으로 시작하거나 또는 키가 150cm 이상이고 170cm 미만이면 탈 수 있습니다. 그 외의 경우는 놀이기구를 탈 수 없습니다. 다음 두 가지 실행 결과 예시를 보고 놀이기구를 탈 수 있는 조건을 판별해 알려주는 코드를 작성하세요.<br>

실행결과
```
이름을 입력하세요:makit
키를 입력하세요:145.5
탈 수 있어요

이름을 입력하세요:sophia
키를 입력하세요:171.2
탈 수 없어요
```

이름을 입력하세요: mark
키를 입력하세요: 195
탈 수 없어요

## 41. 까다로운 놀이기구 II
놀이공원에 있는 놀이기구를 타려면 특별한 조건이 있습니다 . 키가 150cm 이상이고 170cm 미만이면 이 놀이기구를 탈 수 있습니다. 또는 키가 175cm 이상이고 180cm 이하면 탈 수 있습니다. 놀이기구를 탈 수 있는 조건을 판별하는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:176
탈 수 있어요
```
```
키를 입력하세요:180
탈 수 있어요
```
```
키를 입력하세요:174
탈 수 없어요
```

키를 입력하세요: 176
탈 수 있어요

## 42. 까다로운 놀이기구 III
놀이공원 놀이기구를 타기 위해서는 특별한 조건이 있습니다. 성별이 여자이고 키가 150cm 이상, 170cm 미만이면 탈 수 있습니다. 또는 키가 5의 배수이면 탈 수 있습니다. 다음 실행 결과 예시를 보고 놀이기구를 탈수 있는 판별 기준을 알려주는 코드를 작성하세요.<br>
실행결과
```
키를 입력하세요:174
성별을 입력하세요:여자
탈 수 없어요

키를 입력하세요:170
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:145
성별을 입력하세요:여자
탈 수 있어요

키를 입력하세요:170
성별을 입력하세요:남자
탈 수 없어요
```

키를 입력하세요: 170
성별을 입력하세요: 남자
탈 수 없어요

## 43. 터널 통과하기 I
높이가 150cm인 자동차가 있습니다. 목적지까지 가려면 3개의 터널을 지나가야 합니다. 그런데 터널의 높이가 자동차 높이보다 낮거나 같다면 자동차는 지나갈 수 없습니다. 터널의 높이가 차례대로 3개 주어질 때 자동차 통과할 수 있는지 없는지를 판별하는 코드를 작성하세요.<br>
실행결과
```
165 149 155
터널 통과 불가능

158 151 170
터널 통과 가능
```

165 149 155
터널 통과 불가능

## 44. 올해는 윤년일까? Yes or No
2월이 29일까지 있는 연도를 윤년이라고 합니다. 윤년의 조건은 연도가 4의 배수이면서 100의 배수가 아니거나 400의 배수인 경우입니다. 연도를 입력하고 입력한 연도가 윤년인지 아닌지 판별하는 코드를 작성하세요.<br>
실행결과
```
연도를 입력하세요:2345
2345 년은 윤년이 아닙니다

연도를 입력하세요:2020
2020 년은 윤년입니다
```

2020
2020는 윤년입니다.

## 45. 주민등록번호 분석기
주민등록번호는 생년월일과 성별 정보를 포함합니다. 801223-1234567는 80년 12월 23일 생일을 의미합니다. 이때 두 번째 숫자 리스트가1 또는 2로 시작하면 1900년대에 출생 사람을 의미하고, 1로 시작하면 남성, 2로 시작하면 여성을 의미합니다. 2000년대 출생한 남성은 3으로 시작하고 여성은 4로 시작합니다.

주민등록번호가 입력되면 다음과 같이 주민등록에 포함된 정보를 출력하도록 코드를 작성하세요. 주민등록번호 입력 시 중간에 하이픈(-)을 포함해 입력합니다.<br>
실행결과
```
주민등록번호 입력:801223-1234567
남자 1980 년 출생

주민등록번호 입력:110503-3456789
남자 2011 년 출생
```

주민등록번호 입력: 801223-1234567
남자 1980년 출생

## 46.‘도, 개, 걸, 윷, 모’ 윷놀이
윷놀이는 4개의 윷을 던져서 뒤집어진 상태에 따라 도, 개, 걸, 윷, 모 5가지 경우로 나누어 말을 이동하는 우리나라 전통 놀이입니다.<br>

---

도: 윷(막대) 1개가 뒤집어진 상태
개: 윷(막대) 2개가 뒤집어진 상태
걸: 윷(막대) 3개가 뒤집어진 상태
윷: 윷(막대) 4개가 뒤집어진 상태
모: 윷(막대) 하나도 뒤집어지지 않은 상태

---

다음과 같이 윷의 결과가 입력되었을 때 윷의 상태를 출력하는 코드를 작성하세요. 0은 윷이 뒤집어 지지 않은 상태이고 1은 윷이 뒤집어진 상태입니다. 윷의 상태를 1과 0으로 입력할 때 공백을 기준으로 입력합니다. 예를 들어 '1 1 1 0'과 같이 입력하면 1이 3개이므로 '걸'을 의미합니다.<br>

결과
```
1 1 1 0
걸
```

1 1 1 1
윳

## 47. 표준 몸무게 알아보기
BMI(Body Mass Index)는 체질량 지수로 비만도를 측정하는 수치입니다. BMI를 구하기 위해서는 키, 실제 몸무게 그리고 표준 몸무게를 알아야 합니다. 표준 몸무게와 BMI를 구하는 공식과 BMI 지수에 따른 비만도 측정 결과는 아래와 같습니다.<br>

---

BMI 지수= 몸무게(kg) / (키(m) * 키(m))<br>

저체중: 18.5 미만<br>
정상: 18.5\~22.9<br>
과체중: 23\~24.9<br>
경도 비만: 25\~29.9<br>
고도 비만: 30 이상

---

예를 들어 키가 185cm이고 몸무게가 80kg이라면 BMI 지수는 24.7이 됩니다. 다음과 같이 키, 몸무게를 차례대로 입력했을 때 BMI 지수에 따른 비만도 판정 결과를 알려주는 코드를 작성하세요.
실행결과
```
185 80
BMI 지수는 23.37472607742878 이고 과체중입니다

170 64
BMI 지수는 22.145328719723185 이고 정상 체중입니다
```

키를 입력하세요. 168
몸무게를 입력하세요64
BMI 지수는 22.67573696145125이고 정상체중 입니다.

## 48. 삼각형 만들기
삼각형은 세 개의 직선으로 만들어집니다. 하지만 삼각형이 만들어지려면 아래와 같은 조건을 만족해야 합니다. 세 개의 직선 길이가 입력으로 주어진다면 삼각형을 만들 수 있는지 아닌지를 판단하는 코드를 작성하세요.<br>
![이미지]()
실행결과
```
3 2 4
삼각형 가능

5 9 3
삼각형 불가
```

5 9 3
삼각형 불가