### 함수 만들기

* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능

In [3]:
L = [1,2,3,4,5]
result = []
for i in L:
    result.append(i * 10)
print(result)

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름(): <br>
____실행코드 <br>
____return 리턴 값

In [5]:
def hello():
    print("hello python 함수 만들기")

In [6]:
hello()

hello python 함수 만들기

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [ ]:
def hello()

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello") => hello

매개변수 1개짜리 함수

In [8]:
# 원의 넓이를 구하는 함수 반지름 * 반지름 * 3.14
def circle(c):
    print("원의 넓이는", c * c * 3.14, "입니다")
    return c * c * 3.14

In [10]:
result = circle(3)
print("result :", result)

원의 넓이는 28.26 입니다
result : 28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [11]:
def add(a,b):
    return a + b

In [12]:
add(10,3)

13

In [13]:
result = add(10,3)
print("result :",result)

result : 13

In [14]:
add(999,65153151456)

65153152455

매게 변수 3개짜리 함수 - a : 시작, b:끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요 <br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요 <br>
interval(1,10,2)<br>
1,3,5,7,9

In [20]:
def num_maker(a,b,c):
    result = [i for i in range(a,b,c)]
    return result

In [21]:
result = num_maker(1,10,2)
print(result)

[1, 3, 5, 7, 9]

리턴 값이 여러개인 함수

In [23]:
def add_sub(a,b):
    add = a + b
    sub = a - b
    return add, sub

In [24]:
add_sub(7, 9)

(16, -2)

In [25]:
result = add_sub(7,3)
print(type(result))

<class 'tuple'>

In [26]:
a= 1
b= 3

In [29]:
for i in enumerate(range(1,11)):
    print(type(i),i)

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2 - 정방향, 역방향 리스트 출력

In [30]:
def num_maker2(a,b,c):
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [31]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에서 짝수만 출력을 하다가 7이상이 되면 종료하기

In [32]:
age = range(1,11)

In [36]:
def even(a):
   for i in a:
       if i % 2 == 0 :
           print(i, end = " ")
       elif i >= 7:
           break

In [35]:
even(age)

2 4 6

In [39]:
# 함수는 return을 만나면 종료 = break랑 똑같음
def even2(a):
   for i in a:
       if i % 2 == 0 :
           print(i, end = " ")
       elif i >= 7:
           return

In [38]:
even2(age)

2 4 6

1 ~ 100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd함수를 만드세요

In [42]:
num = range(1,101)

In [48]:
def odd(num):
    for i in num:
        if i % 2 == 1:
            print(i, end = " ")
        elif i >= 51:
            return

In [49]:
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [50]:
def odd2(num):
    for i in num:
        if i % 2 == 1:
            print(i, end = " ")
        elif i >= 51:
            return

In [51]:
odd2(range(1,101))

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(position argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [52]:
def print_num(a,b,c):
    print(a,b,c)

In [53]:
print_num(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 *로 언패킹 가능

In [55]:
p = [10,20,30]

In [62]:
print_num(p)

TypeError: print_num() missing 2 required positional arguments: 'b' and 'c'

In [63]:
print_num(p[0], p[1], p[2])

10 20 30

In [64]:
print(*p)

10 20 30

In [65]:
print_num(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력을 받음
* *args => 변수명

In [66]:
print("a", "b", "c", "d", "e")

a b c d e

여러 개의 숫자를 입력받아 더하는 함수(입력 개수가 정해져 있지X)

In [70]:
def sum2(*args):
    print(args)
    print(type(args))
    hap = 0
    for i in args:
        hap += i
    return hap

In [68]:
def sum3(*nums):
    hap = 0
    for i in nums:
        hap += i
    return hap

In [69]:
sum2(514, 545, 5, 7)

1071

In [71]:
sum2(1,1,4,5,7,8,9,9,10)

(1, 1, 4, 5, 7, 8, 9, 9, 10)
<class 'tuple'>

54

In [77]:
def sum3(*nums):
    print(nums)
    print(type(nums))
    return sum(nums)

In [73]:
sum3(9,1,5,2,5,2,10,5,15,20,5210,45120)

50404

In [74]:
L1 = [9,1,5,2,5,2,10,5,15,20,5210,45120]

 *를 사용하면 리스트를 풀어줌

In [80]:
print(*[9,1,5,2,5,2,10,5,15,20,5210,45120])

9 1 5 2 5 2 10 5 15 20 5210 45120

In [83]:
# sum함수는 list를 할 수 없음
sum3(L1)

([9, 1, 5, 2, 5, 2, 10, 5, 15, 20, 5210, 45120],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [78]:
sum3(*L1)

(9, 1, 5, 2, 5, 2, 10, 5, 15, 20, 5210, 45120)
<class 'tuple'>

50404

In [79]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [81]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [82]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [84]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수 함께 사용하기 <br>
* 고정인수와 가변인수를 함께 사용할 때는 반드시 <br>
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다 <br>
  def sum(a, *args) : O <br>
  def sum(*args, a) : X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [87]:
def muls(a, *args):
    result =[]
    for num in args:
        print(a * num, end = " ")
        result.append(a * num)
    return result

In [89]:
L2 = [1,2,3,4,5]

In [90]:
muls(3, *L2)

3 6 9 12 15

[3, 6, 9, 12, 15]