## 5. 30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

실행결과
```
30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75
```

In [4]:
a = 30//8
b = 30%8
print("30을 8로 나눈 몫은",a)
print("30을 8로 나눈 나머지는",b)
print("30을 8로 나눈 결과는",30/8)

30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75

# 컴퓨터와 묻고 답하기 그리고 문자열 다루기

## 7. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
```
a = '시은 우진'
```
실행결과<br>

```
시은 우진 화이팅!!
________빈 줄_______
시은 우진 화이팅!!
```

In [11]:
a = '시은 우진'
b = a + " 화이팅!!"
print(b + "\n\n" + b)

시은 우진 화이팅!!

시은 우진 화이팅!!

## 8. 이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

```
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.
```

In [129]:
name = input("이름이 무엇인가요?")
age = int(input("몇 살인가요?"))
print(name + " 님은 " + "내년에는 " + str(age + 1) + " 살이 됩니다")

이름이 무엇인가요? 메이킷
몇 살인가요? 17

메이킷 님은 내년에는 18 살이 됩니다

## 9. 정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.
실행결과
```
3
2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75
```

In [136]:
a = int(input("a :"))
b = float(input("b :"))
print("a와 b의 합은",a+b)
print("a와 b의 평균값은",(a+b)/2)

a : 3
b : 2.5

a와 b의 합은 5.5
a와 b의 평균값은 2.75

## 10. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

실행결과
```
result1 = S
result2 = W
result3 = !
```

In [35]:
makeit = 'Sieun Woojin!'
result1 = makeit[0]
result2 = makeit[6]
result3 = makeit[12]
print("result1 = " + result1 + "\n" + "result2 = " +  result2 + "\n" + "result1 = " + result3)

result1 = S
result2 = W
result1 = !

## 11. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성해 보세요.
실행결과
```
eun Woo
Sieun
Woojin!
```

In [45]:
makit = 'Sieun Woojin!'
print(makit.replace("Sieun", "eun").replace("Woojin", "Woo").replace("!","") + "\n" + makit[:5] + "\n" + makeit[6:])

eun Woo
Sieun
Woojin!

## 12. makit 문자열 변수에는 ‘동서남북동서남북동서남북’이 저장되어 있습니다. makit 문자열 변수에서 ‘동’만 출력하는 코드를 작성하세요.
실행결과
```
동동동
```

In [138]:
makit = '동서남북동서남북동서남북'
print(makit.replace("서","").replace("남","").replace("북",""))
print(makit[::4])

동동동
동동동

## 13. makit 문자열에 ‘동서남북’이라고 저장되어 있습니다. makit 문자열 변수를 뒤집어서 ‘북남서동’으로 출력하는 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
북남서동
```

In [50]:
makit = '동서남북'

makit[::-1]

'북남서동'

## 14. makit 문자열에 핸드폰 번호가 다음과 같이 저장되어 있습니다. ‘.‘을 ‘-’으로 변경해 다음과 같이 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
실행결과
```
010-1234-5678
```

In [51]:
phone = '010.1234.5678'
phone.replace(".","-")

'010-1234-5678'

## 17. 초를 입력하면 ‘몇 분 몇 초’로 환산해주는 코드를 다음과 같이 출력하도록 작성하세요.
실행결과
```
초를 입력하세요:1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다
```

In [58]:
sec = int(input("초를 입력하세요:"))
minutes = sec//60
second = sec%60
print(str(sec) + "초(sec)는 " + str(minutes) + "분(min) " + str(second) + "초(sec)입니다")

초를 입력하세요: 1234

1234초(sec)는 20분(min) 34초(sec)입니다

## 18. 다음과 같이 시간을 분 단위로 입력하면 며칠, 몇 시간, 몇 분으로 환산해서 출력하는 코드를 작성하세요.
실행결과
```
분을 입력하세요:7512
7512 분은 5 일 5 시간 12 분입니다
```

In [64]:
minutes2 = int(input("분을 입력하세요:"))
day = minutes2//(60*24)
remain = minutes2%(60*24)
hours = remain//60
second2 = remain%60
print(str(minutes2) + "분은 " + str(day) + "일 " + str(hours) + "시간 " + str(second2) + "분입니다")

분을 입력하세요: 7512

7512분은 5일 5시간 12분입니다

# 리스트(list) 다루기

## 19. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진', '시은']
메이킷
우진
시은
```

In [65]:
L = ['메이킷', '우진', '시은']
print(L[0] + "\n" + L[1] + "\n" + L[2])

메이킷
우진
시은

## 20.다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']
```

In [77]:
a = ['메이킷','우진','제임스','시은']
print(a[:2])
print(a[1:])
print(a[2:])
print(a)

['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']

## 21. 리스트 추가, 삭제하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하여 전체 코드를 입력하세요.<br>
실행결과
```
['우진', '시은', '메이킷']
['우진', '시은']
```

In [89]:
a = ['우진','시은']
a.append("메이킷")
print(a)
del a[2]
print(a)

['우진', '시은', '메이킷']
['우진', '시은']

## 22. 리스트 원하는 위치에 삽입하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '하워드', '시은', '메이킷']
```

In [90]:
a = ['우진','시은','메이킷']
a.insert(1,'하워드')
print(a)

['우진', '하워드', '시은', '메이킷']

## 23. 리스트 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']
```

In [91]:
a = ['우진', '시은']
b = ['메이킷', '소피아', '하워드']
a = a + b
print(a)
print(b)

['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']

## 24. 공백 리스트와 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']
```

In [135]:
a = ['우진','시은']
b = ['메이킷','소피아','하워드']
print(a)
print(a + b)

['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']

## 25. 리스트의 개수인 길이 구하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5
```

In [103]:
a = [3, 7, 4, 5, 6, 8]
length = len(a)
print("리스트 a의 개수 즉 길이는", length)
print("리스트 a의 숫자들의 평균은", (3+7+4+5+6+8)/length)

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

## 26. 리스트 잘라내기(슬라이싱)
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']
```

In [112]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']
b = a[:5]
c = a[5:]
d = a[4:6]
e = a[::2]
f = a[1::2]
print("b : "+ str(b))
print("c : "+ str(c))
print("d : "+ str(d))
print("e : "+ str(e))
print("f : "+ str(f))

b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']

## 27. 리스트 거꾸로 잘라내기
a = [‘형우’, ’윤진 ', '시은', '우진']과 같은 리스트가 있을 때 리스트 슬라이싱으로 리스트 순서가 거꾸로 바뀐 리스트를 생성해서 출력하세요. 아래 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '윤진', '형우']
```

In [116]:
a = ['형우', '윤진', '시은', '우진']
a[::-1]

['우진', '시은', '윤진', '형우']

## 28. 리스트 안에 리스트
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
```
메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98
```

In [121]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]
print(str(a[0][0]) + " 학생의 시험 점수는 " + str(a[0][1]))
print(str(a[1][0]) + " 학생의 시험 점수는 " + str(a[1][1]))
print(str(a[2][0]) + " 학생의 시험 점수는 " + str(a[2][1]))

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

## 29. 리스트 안에 있는 문자로 하나의 문자열 만들기(join)
a = [‘시은’, ’우진’, ’지연’, ’지훈’]과 같이 우리 반 학생들 이름이 저장된 리스트가 있습니다. 이 리스트의 문자열들을 연결(join)해 하나의 문자열을 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
시은 우진 지훈 지연
```

In [123]:
a = ['시은', '우진', '지훈', '지연']
(" ").join(a)

'시은 우진 지훈 지연'

## 30. 문자열 분리해 리스트 만들기(split)
a = '시은 우진 지훈 지연'과 같이 우리 반 학생들 이름이 저장된 문자열이 있습니다. 공백이 나올 때마다 문자열을 분리해(split) 하나의 리스트를 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['시은', '우진', '지훈', '지연']
```

In [125]:
a = '시은 우진 지훈 지연'
a.split(" ")

['시은', '우진', '지훈', '지연']

## 31. 여러 개의 값 입력받기(input + split)
세 개의 숫자를 입력받아 가장 작은 숫자를 출력하는 코드를 작성하세요.<br>
입력
```
10 2 123
```
출력
```
2
```

In [132]:
a,b,c = (input("값 3개 입력 : ")).split()
print(min(int(a),int(b),int(c)))

값 3개 입력 :  10 2 123

2