### 리스트함수와 리스트 표현식, 파일 읽기_저장하기

## 리스트 함수
* min() : 리스트 내에서 최소값을 찾아주는 함수
* max() : 리스트 내에서 최대값을 찾아주는 함수
* sum() : 리스트 내의 요소를 더해 합계를 구해주는 함수

In [ ]:
a = [38, 21, 53, 62, 19, 5, 78, 55, 42, 33]
b = [77, 65, 4, 79, 5, 4, 35, 3, 99, 105]
min(a+b)

3

* 정렬해서 가장 앞에 있는 숫자 추출
* 모든 요소를 꺼내서 비교

In [ ]:
sorted(a)[-1]

78

In [ ]:
sorted(a, reverse = True)[-1]

5

In [ ]:
temp = a[0]
for i in a:
  if temp <= i:
    temp = i
  i += 1
print(temp)

78

## 리스트 표현식(list comprehension) 사용하기
* 리스트 안에 for 반복문과 if else 조건문을 한 번에 적는 방법
* 여러 줄의 코드를 1줄로 줄일 수 있고
* for, if else 문을 쓸 때보다 처리 속도가 빠르다
* [실행할 명령 for 변수 in list, tuple]

In [ ]:
a = []
for i in range(1,11):
  a.append(i)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b = [i for i in range(1,11)]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
import time

In [ ]:
start = time.time()
a= []
for i in range(1,20000000):
  a.append(i + 5)
print(a[:10])
print('코드 실행 시간 : ', time.time() - start)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
코드 실행 시간 :  3.92979097366333

In [ ]:
start = time.time()
b= [i+5 for i in range(1,20000000)]
print(b[:10])
print('코드 실행 시간 : ', time.time() - start)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
코드 실행 시간 :  2.169462203979492

In [ ]:
import numpy as np

In [ ]:
start = time.time()
c = np.arange(1,20000000)
c = c+5
print(c[:10])
print('코드 실행 시간 : ', time.time() - start)

[ 6  7  8  9 10 11 12 13 14 15]
코드 실행 시간 :  0.15180110931396484