### 함수 만들기

* print(), split(), input() => 함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구
* function => 기능

In [3]:
L = [1,2,3,4,5]
result = []
for i in L:
    result.append(i * 10)
print(result)

[10, 20, 30, 40, 50]

## 1) 함수 만드는 법
def 함수이름(): <br>
____실행코드 <br>
____return 리턴 값

In [5]:
def hello():
    print("hello python 함수 만들기")

In [6]:
hello()

hello python 함수 만들기

## 2) 함수 호출순서
* 함수는 호출하기 전에 반드시 먼저 정의되어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [ ]:
def hello()

## 3) 함수의 매개변수
* 함수의 ()안에 받는 값
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello") => hello

매개변수 1개짜리 함수

In [8]:
# 원의 넓이를 구하는 함수 반지름 * 반지름 * 3.14
def circle(c):
    print("원의 넓이는", c * c * 3.14, "입니다")
    return c * c * 3.14

In [10]:
result = circle(3)
print("result :", result)

원의 넓이는 28.26 입니다
result : 28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [11]:
def add(a,b):
    return a + b

In [12]:
add(10,3)

13

In [13]:
result = add(10,3)
print("result :",result)

result : 13

In [14]:
add(999,65153151456)

65153152455

매게 변수 3개짜리 함수 - a : 시작, b:끝, c: 증감 <br>
interval이라는 이름의 함수를 만드세요 <br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 출력하세요 <br>
interval(1,10,2)<br>
1,3,5,7,9

In [20]:
def num_maker(a,b,c):
    result = [i for i in range(a,b,c)]
    return result

In [21]:
result = num_maker(1,10,2)
print(result)

[1, 3, 5, 7, 9]

리턴 값이 여러개인 함수

In [23]:
def add_sub(a,b):
    add = a + b
    sub = a - b
    return add, sub

In [24]:
add_sub(7, 9)

(16, -2)

In [25]:
result = add_sub(7,3)
print(type(result))

<class 'tuple'>

In [26]:
a= 1
b= 3

In [29]:
for i in enumerate(range(1,11)):
    print(type(i),i)

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

num_maker2 - 정방향, 역방향 리스트 출력

In [30]:
def num_maker2(a,b,c):
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [31]:
num_maker2(1,10,2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

1-10까지 숫자중에서 짝수만 출력을 하다가 7이상이 되면 종료하기

In [32]:
age = range(1,11)

In [36]:
def even(a):
   for i in a:
       if i % 2 == 0 :
           print(i, end = " ")
       elif i >= 7:
           break

In [35]:
even(age)

2 4 6

In [39]:
# 함수는 return을 만나면 종료 = break랑 똑같음
def even2(a):
   for i in a:
       if i % 2 == 0 :
           print(i, end = " ")
       elif i >= 7:
           return

In [38]:
even2(age)

2 4 6

1 ~ 100까지 숫자중에 홀수만 출력하다가 51번째에 종료하는 odd함수를 만드세요

In [42]:
num = range(1,101)

In [48]:
def odd(num):
    for i in num:
        if i % 2 == 1:
            print(i, end = " ")
        elif i >= 51:
            return

In [49]:
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [50]:
def odd2(num):
    for i in num:
        if i % 2 == 1:
            print(i, end = " ")
        elif i >= 51:
            return

In [51]:
odd2(range(1,101))

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(position argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [52]:
def print_num(a,b,c):
    print(a,b,c)

In [53]:
print_num(10,20,30)

10 20 30

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때<br>
위치 인수와 개수가 같으면 *로 언패킹 가능

In [55]:
p = [10,20,30]

In [62]:
print_num(p)

TypeError: print_num() missing 2 required positional arguments: 'b' and 'c'

In [63]:
print_num(p[0], p[1], p[2])

10 20 30

In [64]:
print(*p)

10 20 30

In [65]:
print_num(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력을 받음
* *args => 변수명

In [66]:
print("a", "b", "c", "d", "e")

a b c d e

여러 개의 숫자를 입력받아 더하는 함수(입력 개수가 정해져 있지X)

In [70]:
def sum2(*args):
    print(args)
    print(type(args))
    hap = 0
    for i in args:
        hap += i
    return hap

In [68]:
def sum3(*nums):
    hap = 0
    for i in nums:
        hap += i
    return hap

In [69]:
sum2(514, 545, 5, 7)

1071

In [71]:
sum2(1,1,4,5,7,8,9,9,10)

(1, 1, 4, 5, 7, 8, 9, 9, 10)
<class 'tuple'>

54

In [77]:
def sum3(*nums):
    print(nums)
    print(type(nums))
    return sum(nums)

In [73]:
sum3(9,1,5,2,5,2,10,5,15,20,5210,45120)

50404

In [74]:
L1 = [9,1,5,2,5,2,10,5,15,20,5210,45120]

 *를 사용하면 리스트를 풀어줌

In [80]:
print(*[9,1,5,2,5,2,10,5,15,20,5210,45120])

9 1 5 2 5 2 10 5 15 20 5210 45120

In [83]:
# sum함수는 list를 할 수 없음
sum3(L1)

([9, 1, 5, 2, 5, 2, 10, 5, 15, 20, 5210, 45120],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [78]:
sum3(*L1)

(9, 1, 5, 2, 5, 2, 10, 5, 15, 20, 5210, 45120)
<class 'tuple'>

50404

In [79]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [81]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [82]:
list_tuple_func(1.1,2.2,3.3,4.4,5.5)

(1.1, 2.2, 3.3, 4.4, 5.5)
<class 'tuple'>

In [84]:
list_tuple_func([1,2,3],[4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수 함께 사용하기 <br>
* 고정인수와 가변인수를 함께 사용할 때는 반드시 <br>
* 고정인수, 가변인수 순으로 넣고 가변인수는 항상 가장 마지막에 넣는다 <br>
  def sum(a, *args) : O <br>
  def sum(*args, a) : X

정수와 리스트를 입력받아 리스트의 요소에 <br>
입력받은 정수를 곱한 값의 리스트를 반환하는 함수 <br>
3, [1,2,3,4,5] => [3,6,9,12,15]

In [87]:
def muls(a, *args):
    result =[]
    for num in args:
        print(a * num, end = " ")
        result.append(a * num)
    return result

In [89]:
L2 = [1,2,3,4,5]

In [90]:
muls(3, *L2)

3 6 9 12 15

[3, 6, 9, 12, 15]

## 키워드 인수

개인정보를 출력하는 함수

In [7]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [8]:
personal_info ('홍길동',30,'서울시 강남구')

이름:  홍길동
나이:  30
주소:  서울시 강남구

* 위에 함수는 인수의 순서를 모두 기억해야하기 때문에 사용하기 어려움 <br>
* 인수의 선수와 용도를 매번 기억하지 않도록 하고 키워드 인수(keyword argument)  사용 <br>
* 예) print(""python", sep = "", end = "\") sep, end =>  키워드 인수

In [9]:
dict(key = 'value')

{'key': 'value'}

personal_info를 키워드 인수 방식으로 호출
* 인수 순서나 위치가 바뀌어도 동작

In [12]:
personal_info(name = "홍길동", age = 30, address = "서울시 강남구")

이름:  홍길동
나이:  30
주소:  서울시 강남구

In [18]:
print("python", "hello", end = "\t", sep =  " : ")

python : hello

In [16]:
def my_print2(end, sep, *args):
    print(args)
    pass

In [19]:
my_print2(1,2,3,4)

(3, 4)

### 딕셔너리 언패킹

* 딕셔너리 앞에  \**를 붙여서 딕셔너리를 언패킹 해 줌
* **{name = "홍길동", age = 30, address = "서울시 강남구"}
* 언패킹을 해서 삽입, 딕셔너리는 key, value가 2개 이므로 *이 2개임

In [25]:
p_info = dict (name = "홍길동", age = 30, address = "서울시 강남구")

In [26]:
personal_info(**p_info)

이름:  홍길동
나이:  30
주소:  서울시 강남구

* keyword arguments는 key,value형태로 만들어야됨

키워드 인수를 사용하는 가변인수 함수 만들기 <br>
def 함수이름(**kwargs) :                # keyword arguments <br>
____코드 <Br>
____return

In [35]:
def personal_info2(**kwargs):
    print("kwargs :", kwargs)
    print("kwargs type :", type(kwargs))

In [36]:
personal_info2(name = "홍길동")

kwargs : {'name': '홍길동'}
kwargs type : <class 'dict'>

* *args는 튜플형태, **args는 딕셔너리 형태로 들어간다

In [37]:
personal_info2(name = "홍길동", age = 30, address = "서울시 강남구", school = "강남 고등학교")

kwargs : {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type : <class 'dict'>

In [38]:
d = dict(name = "홍길동", age = 30, address = "서울시 강남구", school = "강남 고등학교")
d

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}

In [40]:
personal_info2(**d)

kwargs : {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type : <class 'dict'>

In [43]:
def personal_info3(**kwargs):
    print("kwargs :", kwargs)
    print("kwargs type :", type(kwargs))
    for key, value in kwargs.items():          # items를 사용하면 key, value 다 뽑을 수 있음
        print(key, value)

In [44]:
personal_info3(**d)

kwargs : {'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남 고등학교'}
kwargs type : <class 'dict'>
name 홍길동
age 30
address 서울시 강남구
school 강남 고등학교

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, **키워드인수 순으로 와야 함

In [45]:
def personal_info4(name, **kwargs):
    print("name :", name)
    print("kwargs :", kwargs)

In [46]:
personal_info4('홍길동')

name : 홍길동
kwargs : {}

In [47]:
personal_info4('홍길동', age = 30, address = "서울시 강남구")

name : 홍길동
kwargs : {'age': 30, 'address': '서울시 강남구'}

In [48]:
personal_info4( age = 30, address = "서울시 강남구")

TypeError: personal_info4() missing 1 required positional argument: 'name'

In [49]:
personal_info4(name = '홍길동', age = 30, address = "서울시 강남구")

name : 홍길동
kwargs : {'age': 30, 'address': '서울시 강남구'}

In [50]:
d2 = dict(name = '홍길동', age = 30, address = "서울시 강남구")
d2

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구'}

가변인수와 가변키워드인수 함께쓰기
* def 함수명(*args, **kwargs):
* def 함수명(고정인자, *args, **kwargs):

In [52]:
def custom_print(*args, **kwargs):
    print(args, kwargs)
    print(*args, **kwargs)
custom_print(1,2,3, sep = " !! ", end = "")

(1, 2, 3) {'sep': ' !! ', 'end': ''}
1 !! 2 !! 3

매개변수 = 함수 내에서 사용되는 변수
* 위치 인수 : 위치가 고정된 매개변수(변수명 = 값)
* 가변 인수 : 여러 개의 지료를 동시에 받을 수 있는 매개변수 => tuple로 들어옴
* 키워드 가변 인수 : 여러 개의 자료를 동시에 받을 수 있는데 key = value 형태로 받는 매개 변수 => dict로 들어옴

매개변수에 초기값 저장하기
* 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함

In [53]:
def personal_info5(name, age, address = "비공개"):
    print('이름 :',name)
    print('나이 :', age)
    print('주소 :', address)

In [54]:
personal_info5('홍길동', 30, '서울시 강남구')

이름 : 홍길동
나이 : 30
주소 : 서울시 강남구

In [55]:
print()

### 위치
매개변수의 종류에 따른 순서
* 위치인수, 위치인수 = 기본값, *args, **kwargs

In [60]:
def personal_info6(*args, address = "비공개", **kwargs):
    print('args :', args)
    print('kwargs :', kwargs)
    print('주소 :', address)

In [61]:
personal_info6(1,2,3,4, name = "홍길동", age=30)

args : (1, 2, 3, 4)
kwargs : {'name': '홍길동', 'age': 30}
주소 : 비공개

### 함수 Doc 스트링(""" """) 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것
def 함수이름(매개변수): <br>
____"""독스트링으로 설명 적기 """ <br>
____실행코드 <br>
____return
* 독스트링은 함수 실행시에는 출력되지 않음
* print(함수이름.doc)
* help(함수이름)

In [62]:
print()

In [63]:
def add(a,b):
    """
    
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다
    """
    return a + b

In [64]:
add(10, 5)

15

In [65]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다

In [66]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [67]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다

In [68]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

## 람다 표현식(lambda expression)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명함수(함수명이 없음)
* 사용 후 메모리에서 삭제
* 임시함수기 때문에 한 번 사용하면 메모리가 사라짐

In [111]:
## lam 데이터 추출할 때 많이 사용함

In [69]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x):
    return x + 10

In [70]:
plus_ten(5)

15

In [72]:
# def lamdba():
(lambda x : x + 10)(5)

15

map(함수, 리스트 자료)

In [76]:
a, b, c, d = map(int, ["1","2","4","5"])

In [78]:
print(a,b,c,d)
print(type(a),b,c,d)

1 2 4 5
<class 'int'> 2 4 5

In [80]:
# plus_five = lambda x : x + 5
result = map(plus_five, [1,2,3,4,5])
print(list(result))

[6, 7, 8, 9, 10]

In [81]:
list(map(lambda x: x + 10, [1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [85]:
x = [1,2,3,4,5]
def plus_10(x):
    hap = []
    for i in x:
        hap.append(i + 10)
    # print(hap)
    return hap

In [86]:
plus_10(x)

[11, 12, 13, 14, 15]

In [88]:
x = [1,2,3,4,5]
def plus_10_2(x):
    return [i + 10 for i in x]

plus_10_2(x)

[11, 12, 13, 14, 15]

람다표현식에 조건부 표현식 사용하기

In [100]:
# 3의 배수만 문자열로 바꾸기
a = list(range(1,11))
def str3(a):
    result = []
    for i in a:
        if i % 3 == 0 :
            result.append(str(i))
        else:
            result.append(i)
    return result

str3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [103]:
# 3의 배수만 문자열로 바꾸기
# 조건문 부분을 조건 표현식으로 변환
a = list(range(1,11))
def str3(a):
    result = []
    for i in a:
        result.append(str(i)) if i % 3 == 0 else result.append(i)
    return result

str3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [107]:
# 3의 배수만 문자열로 바꾸기
# 조건문 부분을 조건 표현식으로 변환
# list for 문은 리스트 표현식으로 변환
a = list(range(1,11))
def str3(a):
    result = [str(i) if i % 3 == 0 else i for i in a]
    
    return result

str3(a)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [110]:
list(map(lambda x : str(x) if x % 3 == 0 else x,a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [ ]:
b = list(range(1,11)):
c = lambda b

In [115]:
apply(lambda x : str(x) if x % 3 == 0 else x )

NameError: name 'apply' is not defined

In [ ]:
apply(lambda x : str(x) if x % 3 == '0' else x )

In [116]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [121]:
list(map(lambda x,y,z : x*y*z, a,b,c))

[6, 48, 162, 384, 750]

In [123]:
map(lambda x,y,z : x*y*z, a,b,c)

In [119]:
result =[]
for x,y,z in zip(a,b,c):
    result.append(x*y*z)
result

[6, 48, 162, 384, 750]